footer {
  padding: 15px 20px;
  background-color: rgba(29, 41, 57, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .copyright {
  color: rgba(152, 162, 179, 1);
}